<template>
  <div>
    <h1>Edit Profile</h1>
    <form @submit.prevent="editProfile" id="myForm">
      <label for="fullname">Name:</label>
      <input type="text" id="fullname">
      <label for="current-password">Current Password:</label>
      <input type="password" id="current-password">
      <label for="new-password">New Password:</label>
      <input type="password" id="new-password">
      <label for="new-password-confirm">New Password:</label>
      <input type="password" id="new-password-confirm">
      <div style="margin: 0 auto;width: 25%;">
        <input type="submit" value="Save">
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    name: "Account"
  }
</script>

<style scoped>

</style>
