<template>
  <div id="app-header">
    <ul>
      <li>
        <router-link to="/">Home</router-link>
      </li>
      <span v-if="this.$store.state.isAuthenticated">
        <li>
          <router-link to="/Account">Account</router-link>
        </li>
        <li>
          <router-link to="/Invoices">Invoices</router-link>
        </li>
      </span>
      <span v-else>
      <li>
          <router-link to="/Login">Sign in</router-link>
        </li>
        <li>
          <router-link to="/Register">Register</router-link>
        </li>
      </span>
      <li>
        <router-link to="#">About</router-link>
      </li>
      <li>
        <router-link to="#">Contact</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: "AppHeader"
  }
</script>

<style scoped>
  #app-header {
    background-color: #ff1493;
    text-align: center;
  }

  #app-header ul li {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    background-color: #f0f8ff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #app-header a {
    text-decoration: none;
    color: #333;
  }
</style>
