<template>
  <div>
    <h1>Create new invoice</h1>
    <form id="myForm" @submit.prevent="createInvoice" v-if="!formCreated">
      <label for="due-date">*Due Date</label>
      <input type="date" id="due-date" placeholder="2018/01/01" v-model="invoice.date" required>
      <label for="number">Number</label>
      <input type="number" id="number" placeholder="6000" v-model="invoice.number">
      <label for="currency">*Currency</label>
      <input type="text" id="currency" placeholder="$" v-model="invoice.currency" required>
      <label for="currency-pos">*Currency Position</label>
      <select name="currency-pos" id="currency-pos" v-model="invoice.currency_pos" required>
        <option value="left">Left</option>
        <option value="right">Right</option>
      </select>
      <div class="company">
        <label for="company-name">*Company Name</label>
        <input type="text" id="company-name" placeholder="Somewhere Co." v-model="invoice.company_name" required>
        <label for="company-logo">Company Logo</label>
        <img :src="invoice.company_logo" alt="" style="max-width: 400px;">
        <input type="button" v-if="invoice.company_logo" value="Delete" @click.prevent="delLogo">
        <input type="file" id="company-logo" @change="setBase64" v-else>
        <label for="company-email">Company Email</label>
        <input type="email" id="company-email" placeholder="financial@somewhere.co" v-model="invoice.company_email">
        <label for="company-phone">Company Phone</label>
        <input type="tel" id="company-phone" placeholder="+981333000000" v-model="invoice.company_phone">
        <label for="company-website">Company Website</label>
        <input type="url" id="company-website" placeholder="https://somewhere.co" v-model="invoice.company_website">
      </div>
      <div class="customer">
        <label for="customer-name">*Customer Name</label>
        <input type="text" id="customer-name" placeholder="John Doe" v-model="invoice.customer_name" required>
        <label for="customer-email">Customer Email</label>
        <input type="email" id="customer-email" placeholder="john.doe@gmail.com" v-model="invoice.customer_email">
      </div>
      <label for="terms">Terms</label>
      <textarea name="terms" id="terms" cols="30" rows="10" v-model="invoice.terms"></textarea>
      <label for="billing-expenses">Billing Expenses</label>
      <textarea name="billing-expenses" id="billing-expenses" cols="30" rows="10"
                v-model="invoice.billing_expenses"></textarea>
      <label for="discount">Discount</label>
      <input type="number" id="discount" placeholder="50" v-model="invoice.discount">
      <label for="discount-type">Discount Type</label>
      <select name="discount-type" id="discount-type" v-model="invoice.discounttype">
        <option value="percentage">Percentage</option>
        <option value="fixed">Fixed</option>
      </select>
      <label for="payment-instructions">Payment Instructions</label>
      <textarea name="payment-instructions" id="payment-instructions" cols="30" rows="10"
                v-model="invoice.payment_instructions"></textarea>
      <label for="comments">Comments</label>
      <textarea name="comments" id="comments" cols="30" rows="10" v-model="invoice.comments"></textarea>
      <div class="items">
        New Item
        <label for="item-name">Item Name</label>
        <input type="text" id="item-name" placeholder="Lenovo Y5070" v-model="new_item.name">
        <label for="item-description">Item Description</label>
        <textarea name="item-description" id="item-description" cols="30" rows="10"
                  v-model="new_item.description"></textarea>
        <label for="item-price">Item Price</label>
        <input type="number" id="item-price" placeholder="700" v-model="new_item.price">
        <label for="item-quantity">Item Quantity</label>
        <input type="number" id="item-quantity" placeholder="1" v-model="new_item.quantity">
        <input type="button" value="Add Item!" @click.prevent="addItem">
        <div v-if="invoice.items.length > 0">
          <h5>Items</h5>
          <table>
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in invoice.items">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price * item.quantity}}</td>
              <td>
                <button @click.prevent="delItem(invoice.items, item)">x</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="other-costs">
        New Cost
        <label for="cost-description">Cost Description</label>
        <textarea name="cost-description" id="cost-description" cols="30" rows="10"
                  v-model="new_other_cost.description"></textarea>
        <label for="cost-price">Cost Price</label>
        <input type="number" id="cost-price" placeholder="9" v-model="new_other_cost.price_or_percent">
        <select name="cost-type" id="cost-type" v-model="new_other_cost.type">
          <option value="Fixed">Fixed</option>
          <option value="Percentage">Percentage</option>
        </select>
        <input type="button" value="Add Cost!" @click.prevent="addOtherCost">
        <div v-if="invoice.other_costs.length > 0">
          <h5>Items</h5>
          <table>
            <thead>
            <tr>
              <th>Description</th>
              <th>Price</th>
              <th>Type</th>
              <th>Calculated Price</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="other_cost in invoice.other_costs">
              <td>{{other_cost.description}}</td>
              <td>{{other_cost.price_or_percent}}</td>
              <td>{{other_cost.type}}</td>
              <td><span v-if="other_cost.type == 'Fixed'">{{other_cost.price_or_percent}}</span><span
                v-else>Will do</span></td>
              <td>
                <button @click.prevent="delItem(invoice.other_costs, other_cost)">x</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button type="submit" :disabled="!this.invoice.items.length > 0">Submit</button>
      <span class="error" v-show="error">{{ error }}</span>
    </form>
    <div class="success" v-else>
      {{message}}<br>
      <router-link to="/invoices">Go to Invoices!</router-link>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import invoiceMixins from '../mixins/invoiceMixins'

  export default {
    name: "CreateInvoice",
    data() {
      return {
        invoice: {
          date: null,
          number: null,
          currency: null,
          currency_pos: null,
          company_name: null,
          company_logo: null,
          company_email: null,
          company_phone: null,
          company_website: null,
          customer_name: null,
          customer_email: null,
          terms: null,
          billing_expenses: null,
          discount: null,
          discounttype: null,
          payment_instructions: null,
          comments: null,
          items: [],
          other_costs: []
        },
        new_item: {
          name: '',
          description: '',
          price: '',
          quantity: ''
        },
        new_other_cost: {
          description: '',
          price_or_percent: '',
          type: ''
        },
        formCreated: false,
        error: false,
        message: ''
      }
    },
    methods: {
      // addItem: function () {
      //   this.invoice.items.push(
      //     {
      //       name: this.new_item.name,
      //       description: this.new_item.description,
      //       price: this.new_item.price,
      //       quantity: this.new_item.quantity
      //     }
      //   );
      //   this.new_item.name = '';
      //   this.new_item.description = '';
      //   this.new_item.price = '';
      //   this.new_item.quantity = '';
      // },
      // addOtherCost: function () {
      //   this.invoice.other_costs.push(
      //     {
      //       description: this.new_other_cost.description,
      //       price_or_percent: this.new_other_cost.price_or_percent,
      //       type: this.new_other_cost.type
      //     }
      //   );
      //   this.new_other_cost.description = '';
      //   this.new_other_cost.price_or_percent = '';
      //   this.new_other_cost.type = '';
      // },
      // delItem: function (chosenList, item) {
      //   chosenList.splice(chosenList.indexOf(item), 1)
      // },
      createInvoice: function () {
        for (let key in this.invoice) {
          if (this.invoice[key] === '') {
            this.invoice[key] = null;
          }
        }
        const payload = this.invoice;
        axios.post(this.$store.state.endpoints.baseUrl + '/invoice', payload, {
          headers: {
            Authorization: `Bearer ${this.$store.state.jwt}`
          }
        }).then((response) => {
          if (response.status == 200) {
            this.formCreated = true;
            this.message = `New invoice with id "${response.data.id}" created successfully.`
          } else {
            this.error = response.data;

          }
        })
      }
      // setBase64: function () {
      //   let file = document.getElementById("company-logo").files[0];
      //   let reader = new FileReader();
      //   var invoice = this.invoice;
      //   reader.readAsDataURL(file);
      //   reader.onload = function () {
      //     invoice.company_logo = reader.result;
      //   };
      //   reader.onerror = function (error) {
      //     console.log(error)
      //   }
      // }
    },
    mixins: [invoiceMixins]
  }
</script>

<style scoped>

</style>
