<template>
    <div id="app-home">
      <h1>Home</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque consequuntur deleniti dignissimos dolor eveniet expedita, explicabo id inventore nam nulla obcaecati, perspiciatis, repellat sint soluta totam ut voluptas voluptatibus.</p>
      <strong v-if="!this.$store.state.isAuthenticated">You need to sign in or register to create or manage your invoices.</strong>
      <strong v-else>Create or Manage your invoices</strong>
    </div>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style scoped>

</style>
