<template>
  <div>
    <h1>Invoices</h1>
    <table v-if="invoices.length != 0">
      <thead>
      <tr>
        <th>#</th>
        <th>Company</th>
        <th>Number</th>
        <th>Date</th>
        <th>Due Date</th>
        <th colspan="4">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="invoice in invoices">
        <td>{{ invoice.invoice_id }}</td>
        <td>{{ invoice.invoice.company_name }}</td>
        <td>{{ invoice.invoice.number }}</td>
        <td>{{ invoice.created_at }}</td>
        <td colspan="4">{{ invoice.invoice.date }}</td>
        <td>
          <router-link :to="{name: 'EditInvoice', params: {id: invoice.invoice_id}}"><img src="../assets/edit.png"
                                                                                          alt="Edit Invoice"
                                                                                          width="16"></router-link>
          <a href="#edit" @click.prevent="deleteInvoice(invoice.invoice_id)"><img src="../assets/delete.png"
                                                                                  alt="Delete Invoice" width="16"></a>
          <a :href="invoice.export.pdf"><img src="../assets/download.png"
                                                                                        alt="Download Invoice"
                                                                                        width="16"></a>
        </td>
      </tr>
      </tbody>
    </table>
    <span v-else><strong>You have no invoices!</strong></span>
    <div style="text-align: right; margin-top: 20px;">
      <router-link to="/invoices/new" tag="button">Create New Invoice</router-link>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: "InvoiceList",
    data() {
      return {
        invoices: []
      }
    },
    methods: {
      getInvoices: function () {
        axios.get(this.$store.state.endpoints.baseUrl + '/invoice', {
          headers: {
            Authorization: `Bearer ${this.$store.state.jwt}`
          }
        })
          .then((response) => {
            this.invoices = response.data.invoices
          })
      },
      deleteInvoice: function (invoice_id) {
        axios.delete(this.$store.state.endpoints.baseUrl + '/invoice/' + invoice_id, {
          headers: {
            Authorization: `Bearer ${this.$store.state.jwt}`
          }
        }).then((response) => {
          if (response.status == 201) {
            this.getInvoices();
          } else {
            console.log(response.data)
          }
        })
      }
    },
    mounted() {
      this.getInvoices();
    }
  }
</script>

<style scoped>
  th {
    padding: 8px 6px;
  }
</style>
