<template>
  <div>
    <h1>Login</h1>
    <form @submit.prevent="loginUser(email, password)" id="myForm">
      <label for="email">Email</label>
      <input type="email" id="email" v-model="email">
      <label for="password">Password</label>
      <input type="password" id="password" v-model="password">
      <div style="margin: 0 auto; width: 25%;">
        <input type="submit" value="Login">
      </div>
    </form>
  </div>
</template>

<script>
  import userLogin from '../mixins/userMixins'

  export default {
    name: "Login",
    data() {
      return {
        email: '',
        password: ''
      }
    },
    mixins: [userLogin]
  }
</script>

<style scoped>

</style>
