<template>
  <div>
    <h1>Registration</h1>
    <form @submit.prevent="registerAccount" id="myForm" v-if="!registered">
      <span v-show="message.error" class="error">
      {{ message.error }}
      </span>
      <label for="fullName">Full Name</label>
      <input type="text" id="fullName" v-model="fullname">
      <label for="email">Email</label>
      <input type="email" id="email" v-model="email">
      <label for="password">Password</label>
      <input type="password" id="password" @keyup="check_passwords" v-model="password">
      <label for="confirm_password">Confirm Password</label>
      <input type="password" id="confirm_password" @keyup="check_passwords" v-model="password_confirm">
      <div style="margin: 0 auto; width: 25%;">
        <input type="submit" value="Register" :disabled="!allow">
      </div>

    </form>
    <div v-else class="success">
      <p>You registered successfully!<br>You may need to sign in from <router-link to="Login">Login page</router-link>!</p>
    </div>

  </div>
</template>

<script>
  import axios from 'axios';
  import userLogin from '../mixins/userMixins'

  export default {
    name: "Register",
    data() {
      return {
        fullname: '',
        email: '',
        password: '',
        password_confirm: '',
        allow: false,
        message: {
          error: false
        },
        registered: false
      }
    },
    methods: {
      registerAccount: function () {
        const payload = {
          fullname: this.fullname,
          email: this.email,
          password: this.password
        };
        axios.post(this.$store.state.endpoints.baseUrl + '/registration', payload)
          .then((response) => {
            if (response.data.message === 'success') {
              this.registered = true;
              setTimeout(this.loginUser(this.email, this.password), 5000)
            }
          })
      },
      check_passwords: function () {
        this.allow = (this.password == this.password_confirm && this.password.length >= 6);
      }
    },
    mixins: [userLogin]

  }
</script>

<style scoped>

</style>
