<template>
  <div id="app">
    <app-header></app-header>
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import AppHeader from './components/AppHeader'
  import Home from './components/Home'
  import Register from './components/Register'
  import Login from './components/Login'
  import Account from './components/Account'
  import InvoiceList from './components/InvoiceList'
  import CreateInvoice from './components/CreateInvoice'


  export default {
    name: 'app',
    components: {
      'app-header': AppHeader,
      'home': Home,
      'register': Register,
      'login': Login,
      'account': Account,
      'invoice-list': InvoiceList,
      'create-invoice': CreateInvoice
    },
    data() {
      return {}
    }
  }
</script>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 600px;
    margin: 20px auto;
  }

  .success {
    background-color: greenyellow;
    padding: 10px 15px;
  }

  .error {
    background-color: crimson;
    padding: 5px 10px;
    color: snow;
  }

  #myForm {
    max-width: 80%;
    margin: 0 auto;
    clear: both;
  }

  #myForm input, #myForm textarea {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
  }
</style>
